<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="https://unpkg.com/alpinejs" defer></script>
        <script src="https://unpkg.com/htmx.org@1.9.11"></script>
        <title>Alpine.js and HTMX Test</title>
    </head>
    <body>
        <div
            x-data="{ name: '' }"
        >
            <input
                name=name
                type=text
                placeholder="Enter your name"
                hx-target="#response"
                hx-trigger="keyup delay:250ms"
                hx-get="on_change"
                hx-vals='{"token": "{{ token }}"}'
                x-model=name
            />

            <h2
                x-show="name"
                x-text="`Hello, ${name} from Alpine.js!`"
                x-transition:enter.opacity.duration.500ms
            ></h2>

            <h2
                id="response"
                x-show="name"
            ></h2>
        </div>
    </body>
</html>
